@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

canvas {
  touch-action: none;
}
